@import "tailwindcss";

@theme {
  --color-primary: #4029ea;
  --color-secondary: #380fa5;
  --color-accent: #7b26c1;
  --color-background: #FFFFFF;
  --color-background-secondary: #e8e8e8;
  --color-text: #000000;
  --drop-shadow-main: 0 0 100px #4029ea;
  --drop-shadow-main-small: 0 0 40px #4029ea;
  --drop-shadow-secondary: 0 0 30px #7b26c1;
  --drop-shadow-secondary-small: 0 0 10px #7b26c1;

  --color-dark-primary: #4029ea;
  --color-dark-secondary: #380fa5;
  --color-dark-accent: #FF0000;
  --color-dark-background: #1c1c1c;
  --color-dark-background-secondary: #171616;
  --color-dark-text: #ffffff;
  --drop-shadow-dark-main: 0 0 100px #4029ea;
  --drop-shadow-dark-main-small: 0 0 40px #4029ea;
  --drop-shadow-dark-secondary: 0 0 30px #7b26c1;
  --drop-shadow-dark-secondary-small: 0 0 10px #7b26c1;

  --color-success: #0da325;
  --color-warning: #f8822b;
  --color-danger: #e02028;

}

@custom-variant dark (&:where(.dark, .dark *));

body {
  --color-primary-css: var(--color-primary);
  --color-secondary-css: var(--color-secondary);
  --color-accent-css: var(--color-accent);
  --color-background-css: var(--color-background);
  --color-background-secondary-css: var(--color-background-secondary);
  --color-text-css: var(--color-text);
  --drop-shadow-main-css: var(--drop-shadow-main);
  --drop-shadow-main-small-css: var(--drop-shadow-main-small);
  --drop-shadow-secondary-css: var(--drop-shadow-secondary);
  --drop-shadow-secondary-small-css: var(--drop-shadow-secondary-small);
}

body.dark {
  --color-primary-css: var(--color-dark-primary);
  --color-secondary-css: var(--color-dark-secondary);
  --color-accent-css: var(--color-dark-accent);
  --color-background-css: var(--color-dark-background);
  --color-background-secondary-css: var(--color-dark-background-secondary);
  --color-text-css: var(--color-dark-text);
  --drop-shadow-main-css: var(--drop-shadow-dark-main);
  --drop-shadow-main-small-css: var(--drop-shadow-dark-main-small);
  --drop-shadow-secondary-css: var(--drop-shadow-dark-secondary);
  --drop-shadow-secondary-small-css: var(--drop-shadow-dark-secondary-small);
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-text);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  text-align: center;
} */

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.no-select {
  -webkit-user-select: none;
}

.select {
  -webkit-user-select: text;
}